<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
</head>
<body>

    <form action="http://127.0.0.1:5000/payment_iota3" method="POST">
        <h3>Your Balance Before Transaction was {{ bl }} </h3>
        <p>You have to make this transaction through Firefly</p>
        <p><input type="submit" value="Check Balance After Transaction"/></p>
    </form>
</body>
</html>

